.home-header {
  //background-color: #222;
  background-color: #fff;
  padding: 16px;
  width: 100%;
  // height: 30%;
  text-align: center;
}

.home-header img {
  max-height: 100%;
}

.home-info p {
  color: var(--ion-color-dark);
  text-align: left;
}

.home-info ion-icon {
  margin-inline-end: 32px;
}

.ios .home-info {
  text-align: center;
}
